<div class="row"><div class="col-6" style="text-align: center;background-color: green;">
    <div class="card" >
    <div class="card-header">Active</div>
    <div class="card-body">
    
      <h1 class="card-text">0</h1>
    </div>
  </div></div>
  <div class="col-6" style="text-align: center;background-color: red;">
  <div class="card ">
    <div class="card-header">Inactive</div>
    <div class="card-body">
   
      <h1 class="card-text">0</h1>
    </div>
  </div></div></div>
<app-bondupload></app-bondupload>
    <app-bondtable></app-bondtable>
<app-bondform></app-bondform>